.idea/
.vs/
.vagrant/
.cached/
.cache/
.gitconfig
.git-credentials
logs/
bin/
include/
man/
lib/
local/
src/
share/
venv/
site_media/
node_modules/
locale_compile/
sef/search/local_cache
#sef/static/dist/*.js.map
profiling/

*.configmap.yaml
package-lock.json
sef-new.pyproj
sef-new.sln
env_vars
env_vars*
.env
.env_*
pypipl
*.pyc
*.pickle
*.log
*.stats
*.swp
coverage.xml
.coverage
junit.xml
pip-selfcheck.json
webpack-stats.json
/obj/Debug
/env
/web.debug.config
/web.config
/ptvs_virtualenv_proxy.py
/sef-new.pyproj.user
/node_modules
.git-credentials
id_rsa
id_rsa.pub

.idea
.idea/*